@model Comment

@{
    ViewData["Title"] = "Yorum yaz";
}

<section class="hero-wrap hero-wrap-2" style="  background-image: url(@ViewData["BlogPictureURL"]);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate text-center mb-4">
                <h1 class="mb-2 bread">Yorum yaz</h1>

            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ftco-animate">
                <h2 class="mb-3">@ViewData["BlogHeader"]</h2>
                <br /><div>@ViewData["ShortCast"]</div>
                <hr />
            </div> <!-- .col-md-8 -->
            <div class="col-lg-4 sidebar ftco-animate">
                <div class="sidebar-box ftco-animate">
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style=" background-image: url(@ViewData["PhotoProfile"]);"></a>
                        <div class="text">
                            <h3 class="heading"><a href="#">@ViewData["BlogUser"]</a></h3>
                            <div class="meta">
                                <div>
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar-date-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zm-6.664-1.21c-1.11 0-1.656-.767-1.703-1.407h.683c.043.37.387.82 1.051.82.844 0 1.301-.848 1.305-2.164h-.027c-.153.414-.637.79-1.383.79-.852 0-1.676-.61-1.676-1.77 0-1.137.871-1.809 1.797-1.809 1.172 0 1.953.734 1.953 2.668 0 1.805-.742 2.871-2 2.871zm.066-2.544c.625 0 1.184-.484 1.184-1.18 0-.832-.527-1.23-1.16-1.23-.586 0-1.168.387-1.168 1.21 0 .817.543 1.2 1.144 1.2zm-2.957-2.89v5.332H5.77v-4.61h-.012c-.29.156-.883.52-1.258.777V8.16a12.6 12.6 0 0 1 1.313-.805h.632z" /></svg>
                                    @ViewData["BlogPublishDate"]
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- END COL -->
            </div>
        </div>
        <form method="post" enctype="multipart/form-data">
            <div style="margin-left:20px; margin-top:30px;">

                <span>Yorumunuzu yazın</span><br />
                @Html.TextAreaFor(x=>x.Entry, new { style="width:100%" })<br />
                <input type="text"  asp-action="AddComment" asp-for="ReviewID" value="@ViewData["id"]" style="visibility:hidden;" />
            </div>
            <br />
            <button type="submit" class="btn btn-dark" style="width:100%">Kaydet</button>
        </form>
    </div>
</section>